:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  min-width: 0;
  min-height: 0;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0.4em;
}

fieldset {
  border: 1px rgba(255, 255, 255, 0.87) solid;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 3em;
  text-align: center;
}

.card {
  margin: 1em 0em;
}

.preview {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.field {
  display: flex;
  justify-content: space-between;
  margin: 0.2em 0;
}

.field label {
  margin-right: 0.4em;
}

.text {
  text-align: left;
  margin: 1em auto;
  max-width: max(40em, 50%);
}

#param-config {
  display: block;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.board {
  border-spacing: 0px;
  user-select: none;
}
.board .cell {
  width: 24px;
  height: 24px;
  padding: 0px;
}
.board .row:nth-child(odd) > .cell:nth-child(odd), .board .row:nth-child(even) > .cell:nth-child(even) {
  background-color: #222;
}
.board .row:nth-child(odd) > .cell:nth-child(even), .board .row:nth-child(even) > .cell:nth-child(odd) {
  background-color: #000;
}
.board .block {
  width: 21px;
  height: 21px;
  background-image: url(./assets/cells/0-1.svg);
  background-repeat: no-repeat;
  margin: auto;
  opacity: 0;
}
.board.level-0 .block {
  background-image: url(./assets/cells/0-1.svg);
}
.board.level-0 .cell.block-2 > .block {
  background-image: url(./assets/cells/0-2.svg);
}
.board.level-0 .cell.block-3 > .block {
  background-image: url(./assets/cells/0-3.svg);
}
.board.level-1 .block {
  background-image: url(./assets/cells/1-1.svg);
}
.board.level-1 .cell.block-2 > .block {
  background-image: url(./assets/cells/1-2.svg);
}
.board.level-1 .cell.block-3 > .block {
  background-image: url(./assets/cells/1-3.svg);
}
.board.level-2 .block {
  background-image: url(./assets/cells/2-1.svg);
}
.board.level-2 .cell.block-2 > .block {
  background-image: url(./assets/cells/2-2.svg);
}
.board.level-2 .cell.block-3 > .block {
  background-image: url(./assets/cells/2-3.svg);
}
.board.level-3 .block {
  background-image: url(./assets/cells/3-1.svg);
}
.board.level-3 .cell.block-2 > .block {
  background-image: url(./assets/cells/3-2.svg);
}
.board.level-3 .cell.block-3 > .block {
  background-image: url(./assets/cells/3-3.svg);
}
.board.level-4 .block {
  background-image: url(./assets/cells/4-1.svg);
}
.board.level-4 .cell.block-2 > .block {
  background-image: url(./assets/cells/4-2.svg);
}
.board.level-4 .cell.block-3 > .block {
  background-image: url(./assets/cells/4-3.svg);
}
.board.level-5 .block {
  background-image: url(./assets/cells/5-1.svg);
}
.board.level-5 .cell.block-2 > .block {
  background-image: url(./assets/cells/5-2.svg);
}
.board.level-5 .cell.block-3 > .block {
  background-image: url(./assets/cells/5-3.svg);
}
.board.level-6 .block {
  background-image: url(./assets/cells/6-1.svg);
}
.board.level-6 .cell.block-2 > .block {
  background-image: url(./assets/cells/6-2.svg);
}
.board.level-6 .cell.block-3 > .block {
  background-image: url(./assets/cells/6-3.svg);
}
.board.level-7 .block {
  background-image: url(./assets/cells/7-1.svg);
}
.board.level-7 .cell.block-2 > .block {
  background-image: url(./assets/cells/7-2.svg);
}
.board.level-7 .cell.block-3 > .block {
  background-image: url(./assets/cells/7-3.svg);
}
.board.level-8 .block {
  background-image: url(./assets/cells/8-1.svg);
}
.board.level-8 .cell.block-2 > .block {
  background-image: url(./assets/cells/8-2.svg);
}
.board.level-8 .cell.block-3 > .block {
  background-image: url(./assets/cells/8-3.svg);
}
.board.level-9 .block {
  background-image: url(./assets/cells/9-1.svg);
}
.board.level-9 .cell.block-2 > .block {
  background-image: url(./assets/cells/9-2.svg);
}
.board.level-9 .cell.block-3 > .block {
  background-image: url(./assets/cells/9-3.svg);
}

.board .cell.block-1 > .block, .board .cell.block-2 > .block, .board .cell.block-3 > .block {
  opacity: 1;
}
.board .cell:hover > .block, .board .cell.hover > .block {
  opacity: 0.5;
}
.row-mark, .col-mark {
  line-height: 1;
}
.row-mark {
  padding-right: 6px;
}
