@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  margin-bottom: 0.4em;
}

fieldset {
  border: 1px rgba(255, 255, 255, 0.87) solid;
}

code {
  @apply bg-gray-700 text-red-300;
}

.field {
  display: flex;
  justify-content: space-between;
  margin: 0.2em 0;
}

.field label {
  margin-right: 0.4em;
}

.text {
  text-align: left;
  margin: 1em auto;
  max-width: max(40em, 70%);
}
@media (max-width: 768px) {
  .text {
    max-width: 95%;
  }
}

#param-config {
  display: block;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .loader {
    border: 4px solid #09a48b;
    border-top: 4px solid rgba(0, 0, 0, 0);
  }
}

/* stats */
table.stats {
  @apply mx-auto border-collapse;
}
table.stats td, table.stats th {
  @apply border-1 border-gray-200 px-2 py-0.5;
}
table.stats td.stat-cell {
  @apply text-right;
}

/* analysis */
table.analysis {
  @apply w-full border-spacing-x-0 border-spacing-y-1;
}
td.cell-hover-mode {
  @apply px-1 bg-gray-600;
}
td.cell-placement {
  @apply px-1 bg-cyan-700;
}
td.cell-probability {
  @apply px-1 bg-red-900;
}
td.cell-piece {
  @apply px-1 bg-yellow-800;
}
tr:nth-child(1) > td.cell-rank {
  @apply px-1 text-black bg-yellow-300;
}
tr:nth-child(2) > td.cell-rank {
  @apply px-1 text-black bg-gray-300;
}
tr:nth-child(3) > td.cell-rank {
  @apply px-1 bg-orange-800;
}
td.cell-rank {
  @apply px-1 bg-gray-700;
}
td.cell-score {
  @apply px-1 bg-emerald-900;
}

@media (prefers-color-scheme: light) {
  td.cell-hover-mode {
    @apply px-1 bg-gray-300;
  }
  td.cell-placement {
    @apply px-1 bg-cyan-400;
  }
  td.cell-probability {
    @apply px-1 bg-red-300;
  }
  td.cell-piece {
    @apply px-1 bg-yellow-200;
  }
  tr:nth-child(1) > td.cell-rank {
    @apply px-1 text-black bg-yellow-300;
  }
  tr:nth-child(2) > td.cell-rank {
    @apply px-1 text-black bg-gray-300;
  }
  tr:nth-child(3) > td.cell-rank {
    @apply px-1 text-white bg-orange-800;
  }
  td.cell-rank {
    @apply px-1 bg-gray-400;
  }
  td.cell-score {
    @apply px-1 bg-emerald-400;
  }
}

/* game field */
.board {
  border-spacing: 0px;
  user-select: none;
}
.board .cell {
  width: 24px;
  height: 24px;
  padding: 0px;
}
.board .row:nth-child(odd) > .cell:nth-child(odd), .board .row:nth-child(even) > .cell:nth-child(even) {
  background-color: #222;
}
.board .row:nth-child(odd) > .cell:nth-child(even), .board .row:nth-child(even) > .cell:nth-child(odd) {
  background-color: #000;
}
.board .block {
  width: 21px;
  height: 21px;
  background-image: url(/assets/cells/0-1.svg);
  background-repeat: no-repeat;
  margin: auto;
  opacity: 0;
}
.board.level-0 .block {
  background-image: url(/assets/cells/0-1.svg);
}
.board.level-0 .cell.block-2 > .block {
  background-image: url(/assets/cells/0-2.svg);
}
.board.level-0 .cell.block-3 > .block {
  background-image: url(/assets/cells/0-3.svg);
}
.board.level-1 .block {
  background-image: url(/assets/cells/1-1.svg);
}
.board.level-1 .cell.block-2 > .block {
  background-image: url(/assets/cells/1-2.svg);
}
.board.level-1 .cell.block-3 > .block {
  background-image: url(/assets/cells/1-3.svg);
}
.board.level-2 .block {
  background-image: url(/assets/cells/2-1.svg);
}
.board.level-2 .cell.block-2 > .block {
  background-image: url(/assets/cells/2-2.svg);
}
.board.level-2 .cell.block-3 > .block {
  background-image: url(/assets/cells/2-3.svg);
}
.board.level-3 .block {
  background-image: url(/assets/cells/3-1.svg);
}
.board.level-3 .cell.block-2 > .block {
  background-image: url(/assets/cells/3-2.svg);
}
.board.level-3 .cell.block-3 > .block {
  background-image: url(/assets/cells/3-3.svg);
}
.board.level-4 .block {
  background-image: url(/assets/cells/4-1.svg);
}
.board.level-4 .cell.block-2 > .block {
  background-image: url(/assets/cells/4-2.svg);
}
.board.level-4 .cell.block-3 > .block {
  background-image: url(/assets/cells/4-3.svg);
}
.board.level-5 .block {
  background-image: url(/assets/cells/5-1.svg);
}
.board.level-5 .cell.block-2 > .block {
  background-image: url(/assets/cells/5-2.svg);
}
.board.level-5 .cell.block-3 > .block {
  background-image: url(/assets/cells/5-3.svg);
}
.board.level-6 .block {
  background-image: url(/assets/cells/6-1.svg);
}
.board.level-6 .cell.block-2 > .block {
  background-image: url(/assets/cells/6-2.svg);
}
.board.level-6 .cell.block-3 > .block {
  background-image: url(/assets/cells/6-3.svg);
}
.board.level-7 .block {
  background-image: url(/assets/cells/7-1.svg);
}
.board.level-7 .cell.block-2 > .block {
  background-image: url(/assets/cells/7-2.svg);
}
.board.level-7 .cell.block-3 > .block {
  background-image: url(/assets/cells/7-3.svg);
}
.board.level-8 .block {
  background-image: url(/assets/cells/8-1.svg);
}
.board.level-8 .cell.block-2 > .block {
  background-image: url(/assets/cells/8-2.svg);
}
.board.level-8 .cell.block-3 > .block {
  background-image: url(/assets/cells/8-3.svg);
}
.board.level-9 .block {
  background-image: url(/assets/cells/9-1.svg);
}
.board.level-9 .cell.block-2 > .block {
  background-image: url(/assets/cells/9-2.svg);
}
.board.level-9 .cell.block-3 > .block {
  background-image: url(/assets/cells/9-3.svg);
}

.board .cell.filled > .block {
  opacity: 1;
}
.board .cell:hover > .block, .board .cell.hover > .block {
  opacity: 0.5 !important;
}
.row-mark, .col-mark {
  line-height: 1;
}
.row-mark {
  padding-right: 6px;
}
